@(user: User)

    
    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks over all projects</h2>
        </hgroup>
    </header>
    
    <article  class="tasks">
    	<div class="folder">
        <header>
        	<h3><a>@user.getUsername()</a></h3>
        	<span class="loader">Loading</span>
            </header>
            <ul class="list">
            	<li>@user.getUsername()</li>
            	<li>@user.getPhoneCell()</li>
            	<li>@user.getLastConnection()</li>
            </ul>
       </div>
   </article>
    
