@(campaignModel: models.campaign.Campaign)
				
@campaignView("calendar", campaignModel){
<div class="calendar-container"> 
	<div>
		<header>
			Nouvelle date
		</header>
		<hr>
		@helper.form(controllers.campaign.routes.CalendarController.addDate(campaignModel.getId())) {
		<section>
			<p>
				<input type="text" name="date" placeholder="&Eacute;crire votre date">
				<input type="text" name="duration" placeholder="&Eacute;crire une dur&eacute;e">
			</p>
		</section>
		<footer>
			<a href="@controllers.campaign.routes.CalendarController.viewCalendar(campaignModel.getId())" class="btn-style">Annuler</a>
			<input type="Submit" value="Ajout&eacute;er" class="btn-style" name="add">
		</footer>
		}
	</div>
</div>
}